<a href="https://colab.research.google.com/github/Suraj5188/Python_Assignment_Tasks/blob/main/4_Indentation_and_Conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>Problem 1</u>

### As an analyst, you had to present the quarterly performance results of your client. The data which you were provided was on daily basis. To complete this task, you needed to extract the quarter from a given date. For example:

* if the date lies between 1st Jan, 2020 - 31st March, 2020, you need to extract the corresponding quarter as '2020-Q1'

* if the date lies between 1st April, 2020 - 30th June, 2020, the extracted quarter will be '2020-Q2'

* if the date lies between 1st July, 2020 - 30th September, 2020, the extracted quarter will be '2020-Q3' 

* if the date lies between 1st October, 2020 - 31st Decemeber, 2020 then the extracted quarter will be '2020-Q4'

In [1]:
# Take a proper date input from the user in the format YYYY-MM-DD. Consider this date as a string
user_date = input()

2023-01-20

In [2]:
# Write your code using if else statements to extract the quarter
date_year = int(user_date[:4])
date_month = int(user_date[5:7])

# Store the quarter value in a string variable named quarter

quarter=''

if(date_year>=1 and date_year<=3):
  quarter=str(date_year) + '-Q1'
elif(date_year>=3 and  date_year<=5):
  quarter=str(date_year) + '-Q2'
elif(date_year>=5 and date_year<=7):
  quarter=str(date_year) + '-Q3'
else:
  quarter=str(date_year) + '-Q4'

In [3]:
# Print the extracted quarter
print(quarter)

2023-Q4

## <u>Problem 2 </u>

* You went out in your local neighbourhood to collect the data of people residing in the locale. You surveyed 5 people and collected some data and stored that in a dictionary. You recorded their names, their age, their sex, their heights(in cms) and their weights(in kgs)

In [4]:
# Surveyed data 

locality_data = {'Name' : ['Abhinav','Sohail','Dheeraj','Rashmi','Vaishali'],
                  'Age' : [42,29,35,28,32],
                  'Sex' : ['Male', 'Male','Male','Female','Female'] , 
                  'Height' : [172,175,170,168,170],
                  'Weight' : [70,82,60,55,64]
                 }

* Find the mean and median heights and weights of the people in your locality

In [8]:
# Calculate the mean height and print it

mean_height=sum(locality_data['Height']) / len(locality_data['Height'])
print(f"mean_height: {mean_height}")

# Calculate the median height and print it

mean_height_length=len(locality_data['Height'])
mean_height_sorted=sorted(locality_data['Height'])

median_height =(mean_height_sorted[int(mean_height_length/2)-1])
print("median_height :",median_height)

# Calculate the mean weight and print it
mean_weight=sum(locality_data['Weight']) / len(locality_data['Weight'])
print("mean_weight",mean_weight)

# Calculate the median weight and print it
median_weight_length=len(locality_data['Weight'])
median_weight_sorted=sorted(locality_data['Weight'])

median_weight=(median_weight_sorted[int(median_weight_length/2) - 1])

print("median_weight",median_weight)

mean_height: 171.0
median_height : 170
mean_weight 66.2
median_weight 60

* Write a Python code to print the first three elements from the list of age values corresponding to the key 'Age'

In [9]:
# Python code to print the first three elements for the key 'Age'

ages = locality_data['Age'][0:4]

print(ages)

[42, 29, 35, 28]

* Write a Python code to print the last two elements of the name list if the list of values corresponding to the key 'Name' contains the element 'Rashmi' else print 'Name not found'

In [15]:
# Your code below

data=locality_data['Name'][-3:-1]

if 'Rashmi' in data:
  print(data)
else:
  print('Name not found')

['Dheeraj', 'Rashmi']

## <u> Problem 3 </u>

A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user
* Number of classes held
* Number of classes attended.

In [20]:
# Enter your input

print("Number of classes held")
classes_held = int(input())

print("Number of classes attended")
classes_attended = int(input())

Number of classes held
2
Number of classes attended
2

In [23]:
# Calculate the attendance percentage
attendance = classes_attended*100/classes_held

print(f'The attendance is {attendance}')

The attendance is 100.0

And print the following statements based on the condition above

* percentage of class attended
* Is student is allowed to sit in exam or not.

In [22]:
# Your code here 

if attendance <= 75:
  print("You are not allowed to sit in exam")
else:
  print(f'The attendance is {attendance}')

The attendance is 100.0

## <u>Problem 4</u>

### A school has following rules for grading system:
* Below 25 - F
* 25 to 45 - E
* 45 to 50 - D
* 50 to 60 - C
* 60 to 80 - B
* Above 80 - A

Keep the left number inclusive and the right number exclusive, something like [25,45) for grade E where the set is closed at 25 and open at 45.

Write a Python code which takes marks as inputs from the user and print the corresponding grade.

In [28]:
# Your input here 
print("Enter your marks")
marks = int(input())

Enter your marks
85

In [29]:
# Your code here to print the corresponding grade

if marks<=25:
  print("Grade F")
elif(marks>=25 and marks<=45):
  print("Grade E")
elif(marks>=45 and marks<=50):
  print("Grade D")
elif(marks>=50 and marks<=60):
  print("Grade C")
elif(marks>=60 and marks<=80):
  print("Grade B")
else:
  print("Grade A")

Grade A