<a href="https://colab.research.google.com/github/Suraj5188/Python_Assignment_Tasks/blob/main/Assignment_Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [1]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

#highest temperature
max_temp=max(temperatures)

#max value index
max_temp_index =temperatures.index(max_temp)

#lowest temperature
min_temp=min(temperatures)

#storing min value index
min_temp_index=temperatures.index(min_temp)

#Now swap the elements using index position
temperatures[min_temp_index]=max_temp
temperatures[max_temp_index]=min_temp

print(temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [2]:
# List of product prices
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list) / len(prod_price_list)
print(f"mean_price :{mean_price}")

#Calculate the median price

# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)
print(f"sorted_prices :{sorted_prices}\n")

# Check if the number of elements in the list is even or odd
print(f"the list is even or odd :{len(prod_price_list) %2==0}\n")

# Use the corresponding formula to calculate the median and print the median

#first sorted elements 
sort_elements=len(sorted_prices)
print(f"sort_elements :{sort_elements}")

median_price = (sorted_prices[int(sort_elements/2)-1]+sorted_prices[int(sort_elements/2)])/2
print(f"Median is: {median_price}")

# Check which is greater, mean or median
if(mean_price>median_price):
  print(f"\nMean is greater")
else:
  print(f"\nMadian is greater")

mean_price :1975.0
sorted_prices :[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

the list is even or odd :True

sort_elements :10
Median is: 575.0

Mean is greater

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [18]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

# Write your code below
remove_element=tech_companies[-1]

tech_companies.remove(remove_element)
#now add
add_element=tech_companies.extend(remove_element)

print(tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [29]:
# Do the same task another way

elements=tech_companies[:3]+remove_element
print(tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']